* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: grey;
}

.divider{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 15px;
    padding-right: 15px;
}

.section-title{
    width: 25%;
    justify-content: center;
    border-right: 3px solid;
    margin-left: 0;
    padding-left: 10px;
    height: 50px;
}

.section-content{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-between;
    padding-left: 10px;
}

.flex-box{
    display: flex;
    flex-wrap: wrap;
}

/*header*/
header{
    display: flex;
    flex-wrap: wrap;
    background-color: green;
    width: 100%;
    padding: 20px 35px;
    justify-content: space-between;
}

header img{
    width: 10%;
}

header a{
    text-decoration: none;
    color: yellow;
}

header nav{
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 25px;
    font-weight: lighter;
    font-size: 1.8vw;
}

header h1{
    color: greenyellow;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

/*hero*/
.hero{
    background-image: url("../assets/images/hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}